.project-card {
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5);
  text-align: center;
  width: 400px;
  height: 600px;
  max-width: 400px;
  min-width: 300px;
  position: relative;
  @media screen and (max-width: 640px) {
    width: 100%;
  }
  .project-image-container {
    width: 100%;
    height: 260px;
    overflow: hidden;
    cursor: zoom-in;
    img {
      width: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1.1);
        transition: all 250ms ease-out;
      }
    }
  }
  .project-info {
    text-align: center;
    z-index: 20;
    width: 100%;
    padding: 15px 2px;
    height: 180px;
    h3 {
      font-weight: 500;
      letter-spacing: 2px;
      color: #9cc9e3;
      padding: 0.5rem 0;
      font-size: 3rem;
    }

    .project-card-info {
      padding: 0 20px;
      color: #e4e6e7;
      font-style: 2rem;
      line-height: 24px;
      text-align: justify;
      @media screen and (max-width: 640px) {
        padding: 3rem;
      }
    }
  }
  .project-stack {
    margin: 15px auto;
    h4 {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 15px;
    }
    .project-tag-list {
      display: flex;
      justify-content: space-around;
      padding-bottom: 2rem;
      padding-inline-start: 0;
    }
  }
  .project-button-container {
    position: absolute;
    bottom: 0;
    height: 85px;
    width: 100%;
    .project-link-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
      margin: 2.5rem 0;

      .external-link {
        color: #d4c0c0;
        font-size: 20px;
        padding: 5px;
        background: linear-gradient(270deg, #00dbd8 0%, #b133ff 100%);
        border-radius: 15px;
        transition: 0.5s ease-out;
        &:hover {
          background: linear-gradient(270deg, #00dbd8 100%, #b133ff 0%);
        }
      }
    }
  }
}
